body {
	margin: 0;
	background-color: black;
}

p {
	color: lightseagreen;
	font-family: 'Courier New', Courier, monospace;
}


h1 {
	color: lightseagreen;
	font-family: 'Courier New', Courier, monospace;
}

.flexbox {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.container2 {
	margin-right: 8px;
}

.form {
	width: 100%;
	height: 22px;
	font-size: 18px;
	background-color: #3d3d3d;
	color: lightseagreen;
	border: 0px;
	border-radius: 5px;
}

.form:focus {
	animation: animated-form 10s;
	animation-fill-mode: forwards;
}

@keyframes animated-form {
	from {
		background-color: #3d3d3d;
	}
	to {
		background-color: #292929;
	}
}

button {
	background-color: #3d3d3d;
	color: lightseagreen;
	font-family: 'Courier New', Courier, monospace;
	border-radius: 5px;
	border: 0;
	animation-fill-mode: forwards;
}

.title {
	overflow: hidden;
	/*text-align: center;*/
	font-weight: bold;
	animation-fill-mode: forwards;
	width: fit-content;
	display: inline-block;
	max-width: 70vw;
	font-size: 2.25vw;
	text-align: center;
	white-space: nowrap;
	border-right: solid 3px transparent;
	animation: animated-text-typing 2s steps(60, end) 1s 1 normal both, animated-cursor .5s steps(60, end) 8;
	margin: 0 auto
}

@media (max-width: 500px) {
	.title {
		font-size: 13px;
		max-width: 100vw;
	}
}

@keyframes animated-text-typing {
	from {
		width: 0
	}
	to {
		width: 99%
	}
}

@keyframes animated-cursor {
	from {
		border-right-color: lightseagreen
	}
	to {
		border-right-color: transparent
	}
}

.container1 {
	display: flex;
	justify-content: center;
	margin-bottom: 2.25vw;
}

@keyframes typing {
	from {
		width: 0
	}
	to {
		width: 100%;
		border-left: .15em solid rgb(0, 85, 134);
		white-space: nowrap;
	}
}

.submitButton {
	margin-top: 3px;
	margin-left: 30px;
	flex-grow: 1;
	cursor: pointer;
	animation-fill-mode: forwards;
}
.submitButton1 {
	margin-top: 3px;
	margin-left: 3px;
	flex-grow: 1;
	cursor: pointer;
	animation-fill-mode: forwards;
}

.submitButton:hover {
	animation: darken 1s;
}
.submitButton1:hover {
	animation: darken 1s;
}

@keyframes darken {
	from {
		opacity: 1;
	}
	to {
		opacity: 0.75;
	}
}

.resetButton:hover {
	animation: redin 15s;
}

@keyframes redin {
	from {
		background-color: #3d3d3d;
	}
	to {
		background-color: #ff0000;
	}
}

.resetButton {
	margin-top: 3px;
	margin-right: 3px;
	flex-grow: 1;
	background-color: #3d3d3d;
	color: lightseagreen;
	font-family: 'Courier New', Courier, monospace;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	animation-fill-mode: forwards;
}

.p1 {
	font-size: 18px;
	margin-left: 4px;
	overflow-wrap: normal;
}

.p2 {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	margin-left: 4px;
}
.p11 {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-left: 4px;
}

.inputContainer {
	display: flex;
	justify-content: space-between;
	padding-left: 35%;
	padding-right: 35%;
}

.p3 {
	font-size: 13px;
	margin-left: 4px;
	font-family: Arial, Helvetica, sans-serif;
}

img {
	/* max-height: 1200px; */
	width: 100%;
}

.weather {
	width: 75%;
	height: 98%;
}
.container5 {
	height: 400px;
}