body {
	margin: 0;
	background-color: black;
}

p {
	/* color: lightseagreen; */
	font-family: 'Courier New', Courier, monospace;
}

h1 {
	color: lightseagreen;
	font-family: 'Courier New', Courier, monospace;
}

.flexbox {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.container2 {
    display: flex;
    justify-content: space-around;
	margin-right: 8px;
}

.form {
	width: 100%;
	height: 22px;
	font-size: 18px;
	background-color: #3d3d3d;
	color: lightseagreen;
	border: 0px;
	border-radius: 5px;
}

.form:focus {
	animation: animated-form 10s;
	animation-fill-mode: forwards;
}

@keyframes animated-form {
	from {
		background-color: #3d3d3d;
	}

	to {
		background-color: #292929;
	}
}

button {
	background-color: #3d3d3d;
	color: lightseagreen;
	font-family: 'Courier New', Courier, monospace;
	border-radius: 5px;
	border: 0;
	animation-fill-mode: forwards;
	cursor: pointer;
}

label {
	color: lightseagreen;
	font-family: 'Courier New', Courier, monospace;
	border: 0;
}

.title {
	overflow: hidden;
	font-weight: bold;
	animation-fill-mode: forwards;
	width: fit-content;
	display: inline-block;
	max-width: 20vw;
	font-size: 2.25vw;
	text-align: center;
	white-space: nowrap;
	border-right: solid 3px transparent;
	animation: animated-text-typing 2s steps(60, end) 1s 1 normal both, animated-cursor .5s steps(60, end) 8;
	margin: 0 auto
}

@media (max-width: 500px) {
	.title {
		font-size: 13px;
		max-width: 100vw;
	}
}

@keyframes animated-text-typing {
	from {
		width: 0
	}

	to {
		width: 99%
	}
}

@keyframes animated-cursor {
	from {
		border-right-color: lightseagreen
	}

	to {
		border-right-color: transparent
	}
}

.container1 {
	display: flex;
	justify-content: center;
	margin-bottom: 2.25vw;
}

.container3 {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.suc {
    text-align: center;
    background-color: #008d00;
    width: 25%;
    border-radius: 10px;
    display: none;
}

.sucText {
    color: lime;
    text-decoration: underline;
    cursor: pointer;
}

.same {
    background-color: rgb(100 0 0);
    width: 25%;
    text-align: center;
    border-radius: 10px;
    display: none;
}

.sameText {
    color: red;
}

@keyframes typing {
	from {
		width: 0
	}

	to {
		width: 100%;
		border-left: .15em solid rgb(0, 85, 134);
		white-space: nowrap;
	}
}

.p13 {
	font-size: 18px;
	margin-left: 4px;
	overflow-wrap: normal;
	color: lightseagreen;
	text-decoration: underline;
	cursor: pointer;
	
}

.container5 {
	display: flex;
    justify-content: space-around;
    margin-top: 10px;
}